p.date_range_error {
	background: #ffebe8;
	border: 1px solid #c00;
	border-radius: 3px;
}


.columns-1#afd-lists table tbody tr.normal td.content .toggle {
	background: #F6F6F6;
	border: 1px solid #A6A6A6;
	border-radius: 3px;
}
.columns-1#afd-lists table tbody tr.error td.content .toggle {
	background: #FFEBE8;
	border: 1px solid #c00;
	border-radius: 3px;
}
.columns-1#afd-lists table tbody tr.updated td.content .toggle {
	background: #ffffe0;
	border: 1px solid #e6db55;
	border-radius: 3px;
}
.columns-1#afd-lists table tbody tr.metabox td.content .toggle {
	background: #f1f1f1;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
	background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: linear-gradient(to top,#ececec,#f9f9f9);
	border-radius: 3px;
	border: 1px solid #dfdfdf;
}



.afd .toggle-width .collapse-sidebar {
	width: 19px;
	height: 19px;
	z-index: 50;
	border-radius: 50%;
	position: relative;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
}
.afd .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	position: absolute;
	margin-top: 2px;
	margin-left: 2px;
	display: block;
	width: 15px;
	height: 15px;
	background: transparent url('../../../wp-admin/images/arrows.png') no-repeat;
	left: 0;
}
.columns-2.afd .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	background-position: -1px -109px;
}
.columns-2.afd.full-width .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	background-position: -1px -73px;
}
.columns-2.afd .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	border-radius: none;
	float: none;
	content: none;
	font: san-serif;
}
.columns-2.afd.full-width .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	transform: inherit;
}
.columns-2.afd .toggle-width .collapse-sidebar .collapse-sidebar-label {
	position: absolute;
	left: 100%;
	color: #808080;
	line-height: 20px;
	margin-left: 10px;
}
