form#announce_from_the_dashboard textarea {
	width: 90%;
}

form#announce_from_the_dashboard div#update table thead th.title {
	width: 20%;
}
form#announce_from_the_dashboard div#update table thead th.role {
	width: 10%;
}
form#announce_from_the_dashboard div#update table thead th.operation {
	width: 10%;
}
form#announce_from_the_dashboard div#update table tbody tr.normal td.content {
	background-color: #F6F6F6;
}
form#announce_from_the_dashboard div#update table tbody tr.updated td.content {
	background-color: lightYellow;
}
form#announce_from_the_dashboard div#update table tbody tr.error td.content {
	background-color: #FFEBE8;
}
form#announce_from_the_dashboard div#update table tbody td.role label {
	display: block;
	margin: 0 0 8px 0;
}
form#announce_from_the_dashboard div#update table tbody td.title span {
	display: block;
}
form#announce_from_the_dashboard div#Confirm {
	display: none;
}
div#ConfirmSt a#cancelbtn {
	float: left;
}
div#ConfirmSt a#deletebtn {
	float: right;
}






div.announce.normal {
	background-color: #F6F6F6;
	border-color: #A6A6A6;
}
div.announce.error {
	background-color: #FFEBE8;
	border-color: #CC0000;
}
