.columns-2#afd #postbox-container-1 {
	width: 60%;
}
.columns-2#afd #postbox-container-2 {
	width: 38%;
	margin-left: 2%;
}
.columns-2#afd #postbox-container-2.toggle {
	width: 100px;
}

.columns-2#afd.full-width #postbox-container-1 {
	width: 90%; 	
}
.columns-2#afd.full-width #postbox-container-2 {
	width: 8%; 	
}
.columns-2#afd.full-width #postbox-container-2 .stuffbox, .columns-2.full-width #postbox-container-2 .description {
	display: none;
}


.columns-2#afd .toggle-plugin .icon {
	background: transparent url(../../../wp-admin/images/arrows.png) no-repeat 0 -107px;
	padding-left: 16px;
}
.columns-2#afd .full-width #postbox-container-2 .toggle-plugin .icon {
	background-position: 0 -72px;
}


.columns-2#afd #donationbox {
	background: #87BCE4;
	border: 1px solid #227499;
}
.columns-2#afd #donationbox .inside {
	padding: 6px 10px 10px 10px;
}
.columns-2#afd #donationbox .inside .donation_memo {
	background: #FFF8D9;
	padding: 2px 10px;
}




#afd-lists table thead th, #afd-lists table tfoot th {
	font-size: 12px;
}
#afd-lists table thead th.title {
	width: 20%;
}
#afd-lists table thead th.role {
	width: 15%;
}
#afd-lists table thead th.operation {
	width: 10%;
}
#afd-lists table tbody tr:hover {
	outline: 1px solid #999;
}
#afd-lists table tbody tr.sorted {
	outline: 2px solid #fc3;
}
#afd-lists table tbody tr.widget-placeholder {
	outline: 1px dashed #bbb;
	height: 100px;
	margin: 0 auto 20px auto;
	width: 100%;
	box-sizing: border-box;
	background: #efefef;
}
#afd-lists table tbody tr.ui-sortable-helper {
	background: rgba(255, 255, 200, 0.8);
}
#afd-lists table tbody tr.normal td.content {
	background-color: #F6F6F6;
}
#afd-lists table tbody tr.error td.content {
	background-color: #FFEBE8;
}
#afd-lists table tbody tr.updated td.content {
	background-color: lightYellow;
}
#afd-lists table tbody tr.metabox td.content {
	background-color: #f5f5f5;
}
body.mp6 #afd-lists table tbody tr.normal td.content {
	background-color: #fff;
	border-left: 4px solid #A6A6A6;
}
body.mp6 #afd-lists table tbody tr.error td.content {
	background-color: #fff;
	border-left: 4px solid #dd3d36;
}
body.mp6 #afd-lists table tbody tr.updated td.content {
	background-color: #fff;
	border-left: 4px solid #7AD03A;
}
#afd-lists table tbody tr td.role label {
	display: inline-block;
	margin: 0 0 8px 0;
}
#afd-lists table tbody tr td .edit {
	display: none;
}

#afd-lists table tbody tr td .menu {
	display: none;
	padding: 0;
}
#afd-lists table tbody tr td .menu li {
	display: inline;
}


.date_range .date_range_setting {
	display: none;
}
p.date_range_error {
	background: #f00;
	color: #fff;
	padding: 5px;
	display: none;
}



div.updated.announce.normal {
	background-color: #F6F6F6;
	border-color: #A6A6A6;
}
div.updated.announce.error {
	background-color: #FFEBE8;
	border-color: #CC0000;
}
div.updated.announce.nonstyle {
	background: none;
	border: 0 none;
}
body.mp6 div.updated.announce.normal {
	background-color: #fff;
	border-color: #A6A6A6;
}
body.mp6 div.updated.announce.error {
	background-color: #fff;
	border-color: #CC0000;
}