div.updated.announce.normal {
	background-color: #F6F6F6;
}
div.updated.announce.error {
	background-color: #FFEBE8;
}
body.mp6 div.updated.announce.normal {
	background-color: #fff;
	border-color: #A6A6A6;
}
body.mp6 div.updated.announce.error {
	background-color: #fff;
	border-color: #CC0000;
}
